# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
 
# Environments
.env
.venv/
env/
venv/
 
# Jupyter / IPython
.ipynb_checkpoints
 
# VS Code
.vscode/
 
# Mac / Windows
.DS_Store
Thumbs.db
 
# Compiled files
*.log
 
# PDF output / data
*.pdf
*.csv
*.json